.main-container {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.middle-container {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45vw;
}

.middle-text {
  font-size: 2vw;
  font-weight: 400;
  text-align: center;
  font-family: Poppins;
}

.image {
  width: 40vw;
}
