.main-container {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.form-container { 
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 265px;
    margin-top: 60px;
    text-align: center;
}

.form-box {
    position: relative;
}

.input-feedback {
    position: absolute;
    bottom: -10px;
}