.app {
    height: 100%;
    padding: 32px 16px;
}

h1 {
    margin-top: 0.5em;
}

h2 {
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    max-width: 250px;
    border-radius: 16px;
}

.progressBar {
    --progress-bar-width: 40%;
    --progress-bar-height: .33rem;
    --progress-bar-complete-color: #298cff;
    --progress-bar-incomplete-color: #c4c4c4;

    background-color: var(--progress-bar-incomplete-color);
    border-radius: calc(var(--progress-bar-height) * .5);
    margin-bottom: 1rem;
    position: relative;
    width: var(--progress-bar-width);
    height: var(--progress-bar-height);
}

.progressBar .completed {
    background-color: var(--progress-bar-complete-color);
    border-radius: inherit;
    height: 100%;
    width: 60%;
    position: absolute;
    left: 0;
    top: 0;
}

.cardList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
