.map-hover{
    opacity:0;
    transition: .5s ease;
}

.map-area:hover + .map-hover,
.map-hover:hover {
    opacity: 1;
};

.map-hover > p{
    fill:red;
};

.mobile-map-component {
	width: 100%;
}

#mobile-map-view {
	display: none;
}

@media screen and (max-width: 575px) {
	.desktop-map-view {
		display: none;
	}
	#mobile-map-view {
		display: block;
		padding: 16px 0px;
	}
}
