.dropdown {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 40vw;
  }

.selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 7px solid #005587;
  width: 40vw;
}

.selector:hover {
  cursor: pointer;
}

.submission-row {
  display: flex;
  justify-content: space-between;
  width: 40vw;
}