.scoreboard-main-container {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.scoreboard-row-container {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 5vh;
  height: 100vh;
  width: 100vw;
}

.title-text {
  font-size: 4vw;
  font-weight: 400;
  text-align: center;
  font-family: Poppins;
  color: black;
}

table, td {
  border: 7px solid #005587;
}

.table-container {
  flex-direction: column;
  display: flex;
}

.table-row-container {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35vw;
  height: 4vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.table-text {
  font-size: 2vw;
  font-weight: 400;
  text-align: center;
  font-family: Poppins;
  color: black;
}
